POSTGRES_DB_NAME=<REPLACE_ME>
POSTGRES_HOST=<REPLACE_ME>
POSTGRES_PORT=<REPLACE_ME>
POSTGRES_USER=<REPLACE_ME>
POSTGRES_PASSWORD=<REPLACE_ME>
POSTGRES_DATA_DIR=<REPLACE_ME>
POSTGRES_INITDB_ARGS=<REPLACE_ME>
