RABBITMQ_EXTERNAL_IP=<REPLACE_ME>
RABBITMQ_AMQP_PORT=<REPLACE_ME>
RABBITMQ_MANAGEMENT_PORT=<REPLACE_ME>
RABBITMQ_DEFAULT_USER=<REPLACE_ME>
RABBITMQ_DEFAULT_PASS=<REPLACE_ME>
RABBITMQ_DEFAULT_VHOST=<REPLACE_ME>
RABBITMQ_ERLANG_COOKIE=<REPLACE_ME>
RABBITMQ_DATA_DIR=<REPLACE_ME>
