MINIO_EXTERNAL_IP=<REPLACE_ME>
MINIO_ROOT_USER=<REPLACE_ME>
MINIO_ROOT_PASSWORD=<REPLACE_ME>
MINIO_API_PORT=<REPLACE_ME>
MINIO_CONSOLE_PORT=<REPLACE_ME>
MINIO_DATA_DIR=<REPLACE_ME>
MINIO_DEFAULT_BUCKETS=<REPLACE_ME>
