RABBITMQ_EXTERNAL_IP=203.0.113.22
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_DEFAULT_USER=rabbitmq_example_user
RABBITMQ_DEFAULT_PASS=rabbitmq_example_password_ChangeMe_2026
RABBITMQ_DEFAULT_VHOST=octadim_aiopika_example
RABBITMQ_ERLANG_COOKIE=example-erlang-cookie-change-me-2026
RABBITMQ_DATA_DIR=/tmp/octadim/rabbitmq-example-data
