MINIO_EXTERNAL_IP=127.0.0.1
MINIO_ROOT_USER=EXAMPLEMINIOACCESSKEY
MINIO_ROOT_PASSWORD=example-minio-secret-key-change-me-2026
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_DATA_DIR=/tmp/octadim/minio-example-data
MINIO_DEFAULT_BUCKETS=minio-bucket-example
