POSTGRES_DB_NAME=wsl_octadim_example
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=15432
POSTGRES_USER=postgres_example_user
POSTGRES_PASSWORD=postgres_example_password_ChangeMe_2026
POSTGRES_DATA_DIR=/tmp/octadim/postgres-example-data
POSTGRES_INITDB_ARGS=--encoding=UTF8 --locale=C
