[AGGREGATOR_Hakasia_product_server]
AGGREGATOR_HOST = http://127.0.0.1
AGGREGATOR_PORT = 8040
AGGREGATOR_USERNAME = example_aggregator_user
AGGREGATOR_PASSWORD = example_aggregator_password_ChangeMe_2026

[AGGREGATOR_production]
AGGREGATOR_HOST = http://127.0.0.1
AGGREGATOR_PORT = 8040
AGGREGATOR_USERNAME = example_aggregator_user
AGGREGATOR_PASSWORD = example_aggregator_password_ChangeMe_2026

[AGGREGATOR_test_176_124_136_22]
AGGREGATOR_HOST = http://127.0.0.1
AGGREGATOR_PORT = 8040
AGGREGATOR_USERNAME = example_aggregator_user
AGGREGATOR_PASSWORD = example_aggregator_password_ChangeMe_2026

[AGGREGATOR_dexp_ip_192_168_21_22]
AGGREGATOR_HOST = http://127.0.0.1
AGGREGATOR_PORT = 8040
AGGREGATOR_USERNAME = example_aggregator_user
AGGREGATOR_PASSWORD = example_aggregator_password_ChangeMe_2026

[AGGREGATOR_all_ips_0_0_0_0]
AGGREGATOR_HOST = http://127.0.0.1
AGGREGATOR_PORT = 8040
AGGREGATOR_USERNAME = example_aggregator_user
AGGREGATOR_PASSWORD = example_aggregator_password_ChangeMe_2026

[AGGREGATOR_win_localhost_127_0_0_1]
AGGREGATOR_HOST = http://127.0.0.1
AGGREGATOR_PORT = 8040
AGGREGATOR_USERNAME = example_aggregator_user
AGGREGATOR_PASSWORD = example_aggregator_password_ChangeMe_2026

[AGGREGATOR_unix_localhost_127_0_1_1]
AGGREGATOR_HOST = http://127.0.0.1
AGGREGATOR_PORT = 8040
AGGREGATOR_USERNAME = example_aggregator_user
AGGREGATOR_PASSWORD = example_aggregator_password_ChangeMe_2026

[AGGREGATOR_dexp_ip_192_168_0_106]
AGGREGATOR_HOST = http://127.0.0.1
AGGREGATOR_PORT = 8040
AGGREGATOR_USERNAME = example_aggregator_user
AGGREGATOR_PASSWORD = example_aggregator_password_ChangeMe_2026
