[Postgres_Hakasia_product_server]
POSTGRES_USER = <REPLACE_ME>
POSTGRES_PASSWORD = <REPLACE_ME>
POSTGRES_HOST = <REPLACE_ME>
POSTGRES_PORT = <REPLACE_ME>
POSTGRES_DB_NAME = <REPLACE_ME>

[Postgres_production]
POSTGRES_USER = <REPLACE_ME>
POSTGRES_PASSWORD = <REPLACE_ME>
POSTGRES_HOST = <REPLACE_ME>
POSTGRES_PORT = <REPLACE_ME>
POSTGRES_DB_NAME = <REPLACE_ME>

[Postgres_prod_server_176_124_136_22]
POSTGRES_USER = <REPLACE_ME>
POSTGRES_PASSWORD = <REPLACE_ME>
POSTGRES_HOST = <REPLACE_ME>
POSTGRES_PORT = <REPLACE_ME>
POSTGRES_DB_NAME = <REPLACE_ME>

[Postgres_port_all_ips_0_0_0_0_8000]
POSTGRES_USER = <REPLACE_ME>
POSTGRES_PASSWORD = <REPLACE_ME>
POSTGRES_HOST = <REPLACE_ME>
POSTGRES_PORT = <REPLACE_ME>
POSTGRES_DB_NAME = <REPLACE_ME>

[Postgres_win_localhost_127_0_0_1_8000]
POSTGRES_USER = <REPLACE_ME>
POSTGRES_PASSWORD = <REPLACE_ME>
POSTGRES_HOST = <REPLACE_ME>
POSTGRES_PORT = <REPLACE_ME>
POSTGRES_DB_NAME = <REPLACE_ME>

[Postgres_unix_localhost_127_0_1_1_8000]
POSTGRES_USER = <REPLACE_ME>
POSTGRES_PASSWORD = <REPLACE_ME>
POSTGRES_HOST = <REPLACE_ME>
POSTGRES_PORT = <REPLACE_ME>
POSTGRES_DB_NAME = <REPLACE_ME>

[Postgres_dexp_ip_192_168_0_117_8000]
POSTGRES_USER = <REPLACE_ME>
POSTGRES_PASSWORD = <REPLACE_ME>
POSTGRES_HOST = <REPLACE_ME>
POSTGRES_PORT = <REPLACE_ME>
POSTGRES_DB_NAME = <REPLACE_ME>
