[TELEGRAM_OFFICIAL_API_any_ip_prod]
TG_OFFICIAL_APP_API_ID = <REPLACE_ME>
TG_OFFICIAL_APP_API_HASH = <REPLACE_ME>

[TELEGRAM_OFFICIAL_API_TEST_375296085622]
TG_OFFICIAL_APP_API_ID = <REPLACE_ME>
TG_OFFICIAL_APP_API_HASH = <REPLACE_ME>
