[AGGREGATOR_Hakasia_product_server]
AGGREGATOR_HOST = <REPLACE_ME>
AGGREGATOR_PORT = <REPLACE_ME>
AGGREGATOR_USERNAME = <REPLACE_ME>
AGGREGATOR_PASSWORD = <REPLACE_ME>

[AGGREGATOR_production]
AGGREGATOR_HOST = <REPLACE_ME>
AGGREGATOR_PORT = <REPLACE_ME>
AGGREGATOR_USERNAME = <REPLACE_ME>
AGGREGATOR_PASSWORD = <REPLACE_ME>

[AGGREGATOR_test_176_124_136_22]
AGGREGATOR_HOST = <REPLACE_ME>
AGGREGATOR_PORT = <REPLACE_ME>
AGGREGATOR_USERNAME = <REPLACE_ME>
AGGREGATOR_PASSWORD = <REPLACE_ME>

[AGGREGATOR_dexp_ip_192_168_21_22]
AGGREGATOR_HOST = <REPLACE_ME>
AGGREGATOR_PORT = <REPLACE_ME>
AGGREGATOR_USERNAME = <REPLACE_ME>
AGGREGATOR_PASSWORD = <REPLACE_ME>

[AGGREGATOR_all_ips_0_0_0_0]
AGGREGATOR_HOST = <REPLACE_ME>
AGGREGATOR_PORT = <REPLACE_ME>
AGGREGATOR_USERNAME = <REPLACE_ME>
AGGREGATOR_PASSWORD = <REPLACE_ME>

[AGGREGATOR_win_localhost_127_0_0_1]
AGGREGATOR_HOST = <REPLACE_ME>
AGGREGATOR_PORT = <REPLACE_ME>
AGGREGATOR_USERNAME = <REPLACE_ME>
AGGREGATOR_PASSWORD = <REPLACE_ME>

[AGGREGATOR_unix_localhost_127_0_1_1]
AGGREGATOR_HOST = <REPLACE_ME>
AGGREGATOR_PORT = <REPLACE_ME>
AGGREGATOR_USERNAME = <REPLACE_ME>
AGGREGATOR_PASSWORD = <REPLACE_ME>

[AGGREGATOR_dexp_ip_192_168_0_106]
AGGREGATOR_HOST = <REPLACE_ME>
AGGREGATOR_PORT = <REPLACE_ME>
AGGREGATOR_USERNAME = <REPLACE_ME>
AGGREGATOR_PASSWORD = <REPLACE_ME>
